#nav {
    padding: 30px;
    text-decoration:none;
}

#nav a {
    /* font-weight: bold; */
    color: #2c3e50;
    background-color: #fff;
    padding: 2px 7px 5px 5px;
    border-radius: 6px;
}

#nav a.router-link-exact-active {
    background-color: #0075ff;
    color: #fff;

}
.routerLink:hover{
    text-decoration: none;
    opacity: 0.8;
}

.app{
    transition: all 0.5 ease-in-out;
    color: #333;
    background-color: #fff;
    min-height: 100vh;
} 


.headerMenu{
    font-weight:500;
    color:#0075ff;
    margin: 0;
    padding-left: 5px;
}

.btn-dark2{
    width: 25px;
    height: 25px;
    border-radius: 6px;
    background-color: #343A40;
    color:white;
    border: none;
}
.btn-dark2:focus{
    outline: none;
}
.imgProduct{
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.hints {
    padding:1em;
    background:whitesmoke;
    margin: 1em 0;
    font-size: 14px;
    color:darken(#D4DEDF, 50%);
}
p{
    margin: 0!important;
}
.error{
    font-size: 14px;
    color: #ff6060;
}
.forgotPassword{
    font-size: 14px;
    position: absolute;
    bottom:10px;
    right: 120px;
}
.delete{
    position:absolute;
    color: #b94242;
    top: 5px;
    right: 10px;
}
.edit{
    position:absolute;
    color: #42b983;
    top: 5px;
    right: 30px;
}
.update{
    position:absolute;
    color: #4297b9;
    top: 5px;
    right: 30px;
}
.cancel{
    position:absolute;
    color: #b94242;
    top: 5px;
    right: 10px;
}



/* theme dark */

.app .theme-dark{
    color: #fff;
    background-color: #333;
}
.app .theme-dark #nav a {
    /* font-weight: bold; */
    color: #fff;
    background-color: #333;
    padding: 2px 7px 5px 5px;
    border-radius: 6px;
}
