
/* theme dark */

.app .theme-dark {
    color: #fff;
    background-color: #333;
    height: 100vh;
}
.app .theme-dark  #nav a {
    /* font-weight: bold; */
    color: #fff;
    background-color: #333;
    padding: 2px 7px 5px 5px;
    border-radius: 6px;
}

.app .theme-dark #nav a.router-link-exact-active {
    background-color: #0075ff;
    color: #fff;

}

.app .theme-dark .hints {
    padding:1em;
    background-color:#222;
    margin: 1em 0;
    font-size: 14px;
    color:darken(#D4DEDF, 50%);
}

.app .theme-dark input{
    background-color:#222;
    color: #fff;
    border-color: rgb(95, 95, 95);
}

.app .theme-dark textarea{
    background-color:#222;
    color: #fff;
    border-color: rgb(95, 95, 95);
}

.app .theme-dark .modal-content{
    background-color:#222;
}

.app .theme-dark .close{
    color:#fff;
    font-weight: 100;
}

.app .theme-dark .container-fluid{
    background-color:#333;
}

.app .theme-dark .card{
    color: #fff;
    background-color: #222;
}

.app .theme-dark .td-font{
    color: #fff;
    background-color: #333;
}
